
.container {
    margin-top: 50px;
}
.form-check-label {
    cursor: pointer;
}
.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-buttons button {
    margin-right: 5px;
}

.signup-link {
    color: blue;
    text-decoration: underline;
}

.btn-sm {
    width: auto;
    padding: 5px 10px;
}

.button-group {
    display: flex;
    gap: 10px;
}
